@{
    ViewData["Title"] = "Home Page";
}

<div class="item active">
    <img src="~/Images/dna1.png" style="width:10px;height:10px" alt="" class="img-responsive" />
    <div class="carousel-caption" role="option">
        <p>
            Learn how to build ASP.NET apps that can run anywhere.
        </p>
    </div>
</div>